<!DOCTYPE html>
<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    </head>
    <body>
        <script>
            var app=angular.module("myShoppingList",[]);
            app.controller("myCtrl",function($scope){
               $scope.products=["Milk","Bread","Cheese"];
               $scope.addItem=function(){
                 $scope.errortext="";
                 if(!$scope.add){return;}
                 if($scope.products.indexOf($scope.add)==-1)
                 {
                    $scope.products.push($scope.add);
                 }
                 else
                 {
                     $scope.errortext="Item already in list.";
                 }
               };
               $scope.removeItem=function(x)
               {
                   $scope.products.splice(x,1);
               }
            });
        </script>
        
        <div ng-app="myShoppingList" ng-controller="myCtrl">
            <ul>
                <li ng-repeat="x in products">{{x}}<span ng-click="removeItem($index)">&times;</span></li>
            </ul>
            <input type="text" name="" ng-model="add"/>
            <button ng-click="addItem()">Add</button>
            
            <p>{{errortext}}</p>
        </div>
    </body>
</html>